.head{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;

}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: auto;
    font-size: large;

}
.on:hover{
    background-color: indianred;
}

.on{
    background-color: aqua;
    border-style: dotted;
}
.tw:hover{
    background-color: indianred;
}

.tw{
    
    background-color: rgb(48, 20, 75);
    border-style: dotted;

}
.th:hover{
    background-color: indianred;
}
.th{
    
    background-color: aqua;
    border-style: dotted;

}
.ze:hover{
    background-color: indianred;
}
.ze{
        background-color: rgb(48, 20, 75);;
        border-style: dotted;

}
.fo:hover{
    background-color: indianred;
}
.fo{
    
    background-color: rgb(48, 20, 75);
    border-style: dotted;

}
.si:hover{
    background-color: indianred;
}
.si{
    
    background-color: rgb(48, 20, 75);
    border-style: dotted;

}
.ei:hover{
    background-color: indianred;
}
.ei{
    
    background-color: rgb(48, 20, 75);
    border-style: dotted;

}
.fi:hover{
    background-color: indianred;
}
.fi{
    
    background-color: aqua;
    border-style: dotted;

}
.se:hover{
    background-color: indianred;
}
.se{
    
    background-color: aqua;
    border-style: dotted;

}